@CHARSET "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

#login-box {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Dodane, aby zawartość była wyśrodkowana */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.flag-container {
    margin-bottom: 10px; /* Dodane, aby odstęp między flagami był większy */
}

.error, .msg {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}

.msg {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

select {
    padding: 8px;
}

.small-flag {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.flag-container {
    margin-bottom: 10px;
    text-decoration: none;
}
